.sell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .sell-form {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .sell-form input,
  .sell-form textarea,
  .sell-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .sell-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #3367D6;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  