.sell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .sell-form {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .sell-form input,
  .sell-form textarea,
  .sell-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .sell-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #3367D6;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  

  .container {
    display: flex;
    height: 70vh;
  }
  
  .account-info {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  

  
  .youraccount a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .youraccount a:hover {
    text-decoration: underline;
  }