body {
    font-size: 16px;
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .account-info {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #303030;
    color: #9fa19f;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  a {
    color: #0056b3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  