body {

    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
  }
  
  .container {
    display: flex;
    height: 70vh;
  }
  
  .account-info {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  

  
  .youraccount a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .youraccount a:hover {
    text-decoration: underline;
  }
  